body {
    height: 40px;
    width: 350px;
    background-color: #EEEEEE;
}

.betweenSections {
	appearance: none;
	margin-left: 5%; 
	margin-right: 5%;
	height: 0.5px; 
	border-width:0;
	color:#CAC9C9;
	background-color:#CAC9C9;
}

#settings {
	position: relative;
	width: 100%;
	margin-top: 5%;
	display: none;
}

.descriptionText {
	float: left; 
	margin-left: 5%; 
	font-size: 13px;
	font-family: 'Inter';
}

#densitySlider {
	appearance: none;
	position: relative;
	height: 10px;
	width: 90%;
	margin-top: 2%;
	margin-left: 5%; 
	margin-right: 5%; 
	outline: none;
	border-radius: 5px;
	background-color: #DCDBDB;
}


#densitySlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background: #67C2F5;
	opacity: 1;
	cursor: pointer;
}


.switch {
	position: relative;
	float: right;
	margin-right: 5%;
	width: 32px;
	height: 16px;
}  

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.circle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#EE8888;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 16px;
}
  
.circle:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 50%;
}
  
input:checked + .circle {
	background-color: #91CD97;
}
  
input:focus + .circle {
	box-shadow: 0 0 1px #91CD97;
}
  
input:checked + .circle:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

#saveButton {
	border: none;
	background-color: #5191F2;
	font-size: 10px;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 40px;
	color: white;
	font-family: 'Inter';
}

#saveButton:hover {
	background-color: #5174F2;
}

#colorPreview {
	height: 15px; 
	width: 15px; 
	background-color: yellow; 
	float: left; 
	margin-right: 7px;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-radius: 2px;
}

#hexInput {
	float: right;
	border: none;
	width: 50px;
}

#hexInput:focus {
	outline: none;
}

#otherURL {
	font-family: 'Inter';
	margin: 10px;
	font-size: 13px;
	display: none;
}

#noComments {
	font-family: 'Inter';
	margin: 10px;
	font-size: 13px;
	display: none;
}

#loadingComments {
	font-family: 'Inter';
	margin: 10px;
	font-size: 13px;
}

.inputButtonContainer {
    display: flex;
    align-items: center;
}

#apiKeyInput {
    width: 130px;
    border: 1px solid #DCDBDB;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

#saveApiKeyButton {
    border: none;
    background-color: #5191F2;
    font-size: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 40px;
    color: white;
    font-family: 'Inter';
    cursor: pointer;
}

#saveApiKeyButton:hover {
    background-color: #5174F2;
}

#revertApiKeyButton {
    border: none;
    background-color: #5191F2;
    font-size: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 40px;
    color: white;
    font-family: 'Inter';
    cursor: pointer;
}

#revertApiKeyButton:hover {
    background-color: #5174F2;
}

#apiKeySavedMessage {
	font-family: 'Inter';
	margin: 10px;
	font-size: 13px;
	display: none;
}

#apiKeyRevertedMessage {
	font-family: 'Inter';
	margin: 10px;
	font-size: 13px;
	display: none;
}